[submodule "deps/FastNoiseSIMD"]
	path = deps/FastNoiseSIMD
	url = git@github.com:Auburns/FastNoiseSIMD.git
[submodule "deps/semimap"]
	path = deps/semimap
	url = git@github.com:hogliux/semimap.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "deps/entt"]
	path = deps/entt
	url = git@github.com:skypjack/entt.git
[submodule "deps/cpptoml"]
	path = deps/cpptoml
	url = git@github.com:skystrife/cpptoml.git
[submodule "deps/dynamiclinker"]
	path = deps/dynamiclinker
	url = git@github.com:Marqin/dynamicLinker.git
[submodule "deps/glm"]
	path = deps/glm
	url = git@github.com:g-truc/glm.git
[submodule "deps/physfs"]
	path = deps/physfs
	url = git@github.com:criptych/physfs.git
[submodule "deps/LuaJIT"]
	path = deps/LuaJIT
	url = git@github.com:LuaJIT/LuaJIT.git
[submodule "deps/physfs-hpp"]
	path = deps/physfs-hpp
	url = git@github.com:Ybalrid/physfs-hpp.git
[submodule "deps/bullet3"]
	path = deps/bullet3
	url = git@github.com:bulletphysics/bullet3.git
